html,body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
header {
}

/*Середина страницы где лежат столбцы*/
.row {
	margin: auto;
	width: 60%;
}

/*Касается ВСЕХ СТОЛБЦОВ*/
.col {
	float: left;
}
/*только левый*/
.col.left {
	width: 20%;
}

.col.left a {
	color: #507299;
	display: block;
	margin: 20px;
}

/*только средний*/
.col.mid {
	color: red;
	width: 50%;
}

/*только правый*/
.col.right {
	float: right;
	color: green;
	width: 15%;
}
/*ВСЕХ ПОСТОВ*/
.post {
	background-color: #edeef0;
}
.like {
	color: #507299;
	float: left;
}
.comment {
	color: #507299;
	float: right;
}
.post::after {
	content: "";
	display: table;
	clear: both;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

footer {
}